*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
header{
    background-color: navy;
}
.principle{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: navy;
    color: white;
    text-align: center;
    font-size: 40pt;
}

section {
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
}

.description{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

footer{
    background-color: navy;
    color: white;
    text-align: center;
}

img{
    width: 100%;
}

a{
    font-size: 20pt;
    margin-bottom: 1rem;
}
