*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebf2fa;

}

#dark-mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	font-size: 1.5rem;
    width : 65px;
    border-radius: 20%;
}

header {
    background-color: #013a63;
}

.title{
    font-family: "Cinzel", serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;

}
.navigation{
    margin: 0 auto;
    display: none;
    margin: 0;

}

.navigation a{
    display: block;
    color: #013a63;
    text-align: center;
    text-decoration: none;
    background-color: #ebf2fa;
    font-size: 20pt;
}

.navigation a:hover {
    color:#679436;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

p {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	right: .5rem;
	top: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open {
	display: block;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}
section {
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.card-title{
    font-family: "Cinzel", serif;
    font-size: 2rem;
}

.hero img{
    width: 100%;
    height: auto;
}
.call{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25pt;
 }

.call a{
    text-decoration: none;
    color: black;
}
section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
}

footer{
    text-align: center;
    background-color: #013a63;
    color: white;
}

.discover-grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dis-section {
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

section img {
    width: 100%; 
    height: auto;
}


#dis-images {
    grid-column: 2/3;
    grid-row: 1/5;
}

.dis-section-title {
    text-align: center;
}





