*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebf2fa;

}

#dark-mode {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 1.5rem;
	cursor: pointer;
	font-size: 1.5rem;
    width : 65px;
    border-radius: 20%;
}

header {
    background-color: #013a63;
    border-bottom: 2px solid black;
}

.head {
    position: relative;
    min-height: 80px;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 1rem;
}

.title{
    font-family: "Cinzel", serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;

}
.navigation{
    margin: 0 auto;
    display: none;
    margin: 0;

}

.navigation a{
    display: block;
    color: #013a63;
    text-align: center;
    text-decoration: none;
    background-color: #ebf2fa;
    font-size: 20pt;
}

.navigation a:hover {
    color:#679436;
    text-decoration: underline;
}

nav ul li.active a {
    color: #679436;
    font-weight: bolder; 
  }
ul {
    list-style-type: none;
}

p {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.card{
    text-align: center;
    grid-column: 1/3;

}

#weather-card{
    grid-column: 2/3;
}

#events-card{
    grid-column: 1/2;
}

.card h3{
    margin-top: 10px;
    font-size: 18pt;
}

.weather-icon {
    width: 60px;
}
figcaption{
    font-size: 20pt;
}

.three-day-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 15px;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	right: .5rem;
	top:.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open {
	display: block;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section {
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    
}

.card-title{
    font-family: "Cinzel", serif;
    font-size: 2rem;
}

.hero img{
    width: 100%;
    height: auto;
    max-height: 600px;
}

.hero-container {
    position: relative;
  }
  
  .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
    padding: 20px;
  }

  .cta p{
    font-size: 16pt;
  }

.banner-section{
    position: relative;
    grid-column: 1/3;
    border: none;
    font-size: 30pt;
    background-color: white;
    font-weight: 600;
    color: #679436;
    text-align: center;
    padding-right: 40px;
}
.clearButton {
    position: absolute;
    font-size: 6pt;
    top: 0px;
    right: 5px;
}

.call{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25pt;
 }

.call a{
    text-decoration: none;
    color: black;
}
section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    background-color: #013a63;
    color: white;
}


.discover-grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dis-section {
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

section img {
    width: 100%; 
    height: auto;
}


#dis-images {
    grid-column: 2/3;
    grid-row: 1/5;
}

.dis-section-title {
    text-align: center;
}

form {
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
}

.membership-benefits {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16pt;
}

input, select, textarea {
    margin-top: 5px;
    width: 97%;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16pt;
    padding: 10px;
}

input{
    height: 45px;
    border-radius: 10px;
}

select{
    height: 45px;
}

.membership-title{
    text-align: center;
}

.membership-info{
    display:grid
}

.benefits-title{
    text-align: center;
    margin-top: 35px;
    font-size: 26pt;

}

.memberships{
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: white ;
    
}

.memberships h3{
    font-size: 20pt;
}

.memberships li{
    font-size: 14pt;
}

.gold-title{
    font-size: 20pt;
}

.thank-you{
    text-align: center;
}

.thank-you-main{
    display: grid;
    grid-template-columns: 1fr;
}





.directory-main {
    display: grid;
    grid-template-columns: 1fr;
}

.display-menu{
    text-align: center;
    display: block;
}


.directory-grid{
    display: block;
}


.directory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.member-grid{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 4px #666;
}

.member-grid img{
    height: 200px;
}

.directory-list {
	display: flex;
	flex-direction: column;
    border: none;
}

.directory-list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.directory-list section > * {
	margin: 0 1rem;
}

.directory-list section img {
	display: none; /* smaller viewports only */
}

.directory-list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.directory-list section:nth-child(even) {
	background-color: #bed;
}