*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Viewport height, makes sure the body takes the full height of the screen */
    margin: 0;
}
header{
    background-color:blue ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white
    
}

header,
main,
footer{
    max-width: 800px;
    margin: 0 auto;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	max-height: 460px;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
	position: absolute;
	top: 20%;
	left: 50%;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
    white-space: nowrap;
}

#profile{
    width: 150px;
    margin-right: 50px;
}

.navigation ul{
    list-style-type: none;
}
.navigation a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


h2{
    border-bottom: 1px solid #000; /* Add a 1px solid line underneath the h2 */

    
}

.card{
    border: 2px solid #000;
    border-radius: 5px;
    margin-top: 20px;
    
}
#section-activities{
    text-align: left;
}

.main-list-item{
    text-decoration: none;
    color: white;
}
.main-list-item:hover{
    color: yellow
}
.navigation{
    background-color: black;
    margin: 0 auto;
    display: none;
    max-width: 850px;

}

li{
    margin-bottom: 20px;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin-bottom: 20px;
}

iframe {
    width: 100%;

}

footer{
    background-color: blue;
    max-width: 800px;
    text-align: center;
    
}
/* #sections{
    display: grid;
    grid-template-columns: 1fr 1fr;

} */
h3{
    background-color: blue;
    margin-top: 0;
    color: white;
    text-align: center;
}

ul{
    list-style-type: none;
}

p{
    color: white;
}

.info{
    color: black;
    text-align: center;

}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	right: .5rem;
	top: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open {
	display: block;
}

