@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; /* hide hamburger button */
	}
    .navigation {
		display: block;
	}
    #sections{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    iframe{
        grid-column: 1/3;
    }

	.herolabel p {
		margin: 0;
		padding: .25rem;
		font-weight: 700;
		font-size: 1.5rem;
		font-family:"Great Vibes", serif;
		white-space: nowrap;
	}
}